<%= render 'shared/errors', obj: @article %>

<div class='row'>
  <div class='col-12'>
    <%= form_for @article do |f| %>
      <div class="form-row">
        <div class="col-sm-2 col-form-label">
          <%= f.label :title %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :title, class: "form-control", placeholder:"Title of Article", autofocus: true  %>
        </div>
      </div>

      <div class="form-row">
        <div class="col-sm-2 col-form-label">
          <%= f.label :description %>
        </div>
        <div class="col-sm-8">
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder:"Description of Article" %>
        </div>
      </div>

      <div class="form-row">
        <div class="offset-sm-2 col-sm-8">
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, {},
                                       {:class=>'form-check-input mr-1'} do |cb| %>
            <div class="form-check form-check-inline">
              <%= cb.label(class: "form-check-label pr-2") {cb.check_box + cb.text} %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-10 ml-auto">
          <%= f.submit class: 'btn btn-primary btn-lg mx-auto' %>
        </div>
      </div>

    <% end %>
  </div>
</div>

<div align="center">
  [<%= link_to 'Cancel request and return to articles listing', articles_path %>]
</div>
