<h1 align="center">All Alpha Bloggers</h1>
<div class="text-center">
  <%= will_paginate list_classes: %w(pagination justify-content-center),
                    previous_label: "Previous", next_label: "Next" %>
  <% @users.each do |user| %>
    <ul class="listing">
      <div class="row">
        <div class="mx-auto col-md-4 card card-body bg-light ">
          <li><%= link_to gravatar_for(user), user_path(user) %></li>
          <li class="article-title"><%= link_to user.username, user_path(user) %></li>
          <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
          <% if logged_in? && current_user.admin? %>
            <li><%= link_to 'Delete this user', user_path(user), method: :delete,
                            data: {confirm: 'Are you sure you want oto deleted the user and all of their articles?' } %></li>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate list_classes: %w(pagination justify-content-center pt-3),
                    previous_label: "Previous", next_label: "Next" %>
</div>
