<h1 align="center"><%= "Category: " + @category.name %></h1>

  <% if logged_in? and current_user.admin? %>
    <div align="center">
      <%= link_to "Edit Category Name", edit_category_path(@category), class:'badge badge-info' %>
    </div>
  <% end %>
</div>
<%= will_paginate @category_articles, list_classes: %w(pagination justify-content-center pt-5) %>
<%= render 'articles/article', obj: @category_articles %>
<%= will_paginate @category_articles , list_classes: %w(pagination justify-content-center pt-3)%>
